In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df1 = pd.read_csv('cleaned_df-2', index_col = 0)

In [2]:
df1 = pd.read_csv('cleaned_df-2', index_col = 0)

In [3]:
df1

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,reno,price_per_sqft,year,day,month,season,sqft_living_times_grade,condition_div_grade,sqft_living_sq,bathrooms_sq
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,3,...,0,188.050847,2014.0,13.0,10.0,fall,8260,0.428571,1392400,1.0000
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,...,1,209.338521,2014.0,9.0,12.0,winter,17990,0.428571,6604900,5.0625
2,5631500400,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,...,0,233.766234,2015.0,25.0,2.0,winter,4620,0.500000,592900,1.0000
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,...,0,308.163265,2014.0,9.0,12.0,winter,13720,0.714286,3841600,9.0000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,...,0,303.571429,2015.0,18.0,2.0,winter,13440,0.375000,2822400,4.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,3,...,0,235.294118,2014.0,21.0,5.0,spring,12240,0.375000,2340900,6.2500
21593,6600060120,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,3,...,0,173.160173,2015.0,23.0,2.0,winter,18480,0.375000,5336100,6.2500
21594,1523300141,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,3,...,0,394.216667,2014.0,23.0,6.0,summer,7140,0.428571,1040400,0.5625
21595,291310100,400000.0,3,2.50,1600,2388,2.0,0.0,0.0,3,...,0,250.000000,2015.0,16.0,1.0,winter,12800,0.375000,2560000,6.2500
21596,1523300157,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,3,...,0,318.627451,2014.0,15.0,10.0,fall,7140,0.428571,1040400,0.5625

In [4]:
df1.loc[df1['price'] >= 850000]

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,reno,price_per_sqft,year,day,month,season,sqft_living_times_grade,condition_div_grade,sqft_living_sq,bathrooms_sq
5,7237550310,1230000.0,4,4.50,5420,101930,1.0,0.0,0.0,3,...,0,226.937269,2014.0,12.0,5.0,spring,59620,0.272727,29376400,20.2500
21,2524049179,2000000.0,3,2.75,3050,44867,1.0,0.0,4.0,3,...,0,655.737705,2014.0,26.0,8.0,summer,27450,0.333333,9302500,7.5625
26,1794500383,937000.0,3,1.75,2450,2691,2.0,0.0,0.0,3,...,0,382.448980,2014.0,26.0,6.0,summer,19600,0.375000,6002500,3.0625
42,7203220400,861990.0,5,2.75,3595,5639,2.0,0.0,0.0,3,...,0,239.774687,2014.0,7.0,7.0,summer,32355,0.333333,12924025,7.5625
49,822039084,1350000.0,3,2.50,2753,65005,1.0,1.0,2.0,5,...,0,490.374137,2015.0,11.0,3.0,spring,24777,0.555556,7579009,6.2500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21574,7430200100,1220000.0,4,3.50,4910,9444,1.5,0.0,0.0,3,...,0,248.472505,2014.0,14.0,5.0,spring,54010,0.272727,24108100,12.2500
21577,8672200110,1090000.0,5,3.75,4170,8142,2.0,0.0,2.0,3,...,0,261.390887,2015.0,17.0,3.0,spring,41700,0.300000,17388900,14.0625
21581,191100405,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,3,...,0,463.343109,2015.0,21.0,4.0,spring,34100,0.300000,11628100,10.5625
21584,249000205,1540000.0,5,3.75,4470,8088,2.0,0.0,0.0,3,...,0,344.519016,2014.0,15.0,10.0,fall,49170,0.272727,19980900,14.0625
21590,7936000429,1010000.0,4,3.50,3510,7200,2.0,0.0,0.0,3,...,0,287.749288,2015.0,26.0,3.0,spring,31590,0.333333,12320100,12.2500

In [5]:
mediandf = pd.read_csv('mediandf.csv', index_col = 0)

In [6]:
mergedDf = df1.merge(mediandf, left_index=True, right_index=True)

In [7]:
wfdf = pd.read_csv('wfdf.csv', index_col = 0)

In [8]:
mergedDf = mergedDf.merge(wfdf, left_index=True, right_index=True)

In [9]:
mergedDf

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,year,day,month,season,sqft_living_times_grade,condition_div_grade,sqft_living_sq,bathrooms_sq,median_by_zip,Closest_WF
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,3,...,2014.0,13.0,10.0,fall,8260,0.428571,1392400,1.0000,60839.0,12.09
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,...,2014.0,9.0,12.0,winter,17990,0.428571,6604900,5.0625,54561.0,10.29
2,5631500400,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,...,2015.0,25.0,2.0,winter,4620,0.500000,592900,1.0000,90588.0,9.59
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,...,2014.0,9.0,12.0,winter,13720,0.714286,3841600,9.0000,90625.0,12.99
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,...,2015.0,18.0,2.0,winter,13440,0.375000,2822400,4.0000,145262.0,6.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,3,...,2014.0,21.0,5.0,spring,12240,0.375000,2340900,6.2500,81330.0,7.29
21593,6600060120,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,3,...,2015.0,23.0,2.0,winter,18480,0.375000,5336100,6.2500,58429.0,14.11
21594,1523300141,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,3,...,2014.0,23.0,6.0,summer,7140,0.428571,1040400,0.5625,62633.0,7.43
21595,291310100,400000.0,3,2.50,1600,2388,2.0,0.0,0.0,3,...,2015.0,16.0,1.0,winter,12800,0.375000,2560000,6.2500,102025.0,12.76
21596,1523300157,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,3,...,2014.0,15.0,10.0,fall,7140,0.428571,1040400,0.5625,62633.0,7.44

In [10]:
df1.zipcode.value_counts()

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    103
98010    100
98024     80
98148     57
98039     44
Name: zipcode, Length: 70, dtype: int64

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21577 entries, 0 to 21596
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21577 non-null  int64
 1   price                    21577 non-null  float64
 2   bedrooms                 21577 non-null  int64
 3   bathrooms                21577 non-null  float64
 4   sqft_living              21577 non-null  int64
 5   sqft_lot                 21577 non-null  int64
 6   floors                   21577 non-null  float64
 7   waterfront               21577 non-null  float64
 8   view                     21577 non-null  float64
 9   condition                21577 non-null  int64
 10  grade                    21577 non-null  int64
 11  sqft_above               21577 non-null  int64
 12  sqft_basement            21577 non-null  float64
 13  yr_built                 21577 non-null  int64
 14  yr_renovated             21577 non-null  float64
 15  zipcode                  21577 non-null  int64
 16  lat                      21577 non-null  float64
 17  long                     21577 non-null  float64
 18  sqft_living15            21577 non-null  int64
 19  sqft_lot15               21577 non-null  int64
 20  reno                     21577 non-null  int64
 21  price_per_sqft           21577 non-null  float64
 22  year                     21577 non-null  float64
 23  day                      21577 non-null  float64
 24  month                    21577 non-null  float64
 25  season                   21577 non-null  object
 26  sqft_living_times_grade  21577 non-null  int64
 27  condition_div_grade      21577 non-null  float64
 28  sqft_living_sq           21577 non-null  int64
 29  bathrooms_sq             21577 non-null  float64
dtypes: float64(15), int64(14), object(1)
memory usage: 5.7+ MB

In [12]:
#df1["bathbed"] = df1["bathrooms"] * df1["bedrooms"]

In [13]:
#dfdrop = mergedDf.drop('price',axis = 1)

In [14]:
df1 = mergedDf

In [15]:
dfdrop = df1.drop('id', axis = 1)

In [16]:
dfdrop = dfdrop.drop('season', axis = 1)

In [17]:
dfdrop = dfdrop.drop('zipcode', axis = 1)

In [18]:
dfdrop = dfdrop.drop('day', axis = 1)

In [19]:
dfdrop = dfdrop.drop('month', axis = 1)

In [20]:
dfdrop = dfdrop.drop('year', axis = 1)

In [21]:
dfdrop = dfdrop.drop('sqft_lot15', axis = 1)

In [22]:
#dfdrop = dfdrop.drop('lat', axis = 1)

In [23]:
#dfdrop = dfdrop.drop('long', axis = 1)

In [24]:
#dfdrop = dfdrop.drop('condition_div_grade', axis = 1)

In [25]:
dfdrop = dfdrop.drop('price_per_sqft', axis = 1)

In [26]:
dfdrop = dfdrop.drop('sqft_living_sq', axis = 1)

In [27]:
#dfdrop = dfdrop.drop('yr_built', axis = 1)

In [28]:
dfdrop.to_csv('merged.csv')

In [29]:
dfdrop.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_renovated,lat,long,sqft_living15,reno,sqft_living_times_grade,condition_div_grade,bathrooms_sq,median_by_zip,Closest_WF
price,1.000000,0.312065,0.519674,0.693781,0.092868,0.266271,0.235674,0.392937,0.039385,0.677931,...,0.115557,0.323237,0.025760,0.598729,0.115229,0.743376,-0.314446,0.548383,0.395456,-0.416310
bedrooms,0.312065,1.000000,0.512997,0.579804,0.032095,0.177208,-0.010249,0.074913,0.026399,0.353874,...,0.016623,-0.010653,0.132488,0.391291,0.016358,0.509445,-0.183878,0.489630,0.148640,-0.013723
bathrooms,0.519674,0.512997,1.000000,0.751572,0.088059,0.504531,0.048544,0.178389,-0.127452,0.661677,...,0.044096,0.022699,0.227669,0.566808,0.043660,0.735229,-0.452308,0.964875,0.294126,-0.042101
sqft_living,0.693781,0.579804,0.751572,1.000000,0.174841,0.356182,0.083427,0.273393,-0.060039,0.760679,...,0.045885,0.050449,0.246451,0.757739,0.045656,0.973659,-0.437714,0.749997,0.356461,-0.073203
sqft_lot,0.092868,0.032095,0.088059,0.174841,1.000000,-0.005024,0.020647,0.074664,-0.008810,0.114454,...,0.004839,-0.085715,0.230317,0.144587,0.004951,0.175544,-0.056806,0.099947,0.095555,0.159458
floors,0.266271,0.177208,0.504531,0.356182,-0.005024,1.000000,0.018708,0.026910,-0.264188,0.459444,...,0.003457,0.048870,0.126175,0.279456,0.003373,0.378370,-0.442225,0.463843,0.180131,-0.061167
waterfront,0.235674,-0.010249,0.048544,0.083427,0.020647,0.018708,1.000000,0.375378,0.015587,0.070694,...,0.070701,-0.014953,-0.038079,0.074782,0.071068,0.090259,-0.020724,0.055841,-0.000625,0.004346
view,0.392937,0.074913,0.178389,0.273393,0.074664,0.026910,0.375378,1.000000,0.045512,0.242889,...,0.088736,0.004770,-0.077448,0.274744,0.088883,0.287935,-0.089467,0.195096,0.012333,-0.040406
condition,0.039385,0.026399,-0.127452,-0.060039,-0.008810,-0.264188,0.015587,0.045512,1.000000,-0.147738,...,-0.055850,-0.015071,-0.105880,-0.093534,-0.055425,-0.087327,0.828027,-0.127368,-0.057791,-0.024334
grade,0.677931,0.353874,0.661677,0.760679,0.114454,0.459444,0.070694,0.242889,-0.147738,1.000000,...,0.013571,0.112552,0.202381,0.711868,0.013207,0.851078,-0.645247,0.636684,0.399007,-0.151458
sqft_above,0.597644,0.478326,0.681584,0.874141,0.184966,0.526707,0.053719,0.156447,-0.160280,0.753285,...,0.016890,-0.003538,0.349882,0.731030,0.016811,0.881384,-0.498390,0.679354,0.393882,0.007647
sqft_basement,0.310148,0.296498,0.270573,0.421178,0.014578,-0.245888,0.072214,0.268706,0.170461,0.157866,...,0.061662,0.109320,-0.144297,0.194292,0.061343,0.354308,0.026745,0.271425,-0.001781,-0.163153
yr_built,0.053060,0.155469,0.510311,0.321776,0.052843,0.489280,-0.026243,-0.055685,-0.361479,0.449111,...,-0.202273,-0.148733,0.410233,0.326474,-0.202553,0.343088,-0.516388,0.443494,0.269516,0.211427
yr_renovated,0.115557,0.016623,0.044096,0.045885,0.004839,0.003457,0.070701,0.088736,-0.055850,0.013571,...,1.000000,0.027832,-0.064516,-0.000771,0.999968,0.035479,-0.050763,0.048877,-0.009651,-0.047590
lat,0.323237,-0.010653,0.022699,0.050449,-0.085715,0.048870,-0.014953,0.004770,-0.015071,0.112552,...,0.027832,1.000000,-0.135255,0.047711,0.027770,0.068468,-0.079523,0.034899,0.298407,-0.859070
long,0.025760,0.132488,0.227669,0.246451,0.230317,0.126175,-0.038079,-0.077448,-0.105880,0.202381,...,-0.064516,-0.135255,1.000000,0.337293,-0.064483,0.238103,-0.172891,0.193774,0.539740,0.274755
sqft_living15,0.598729,0.391291,0.566808,0.757739,0.144587,0.279456,0.074782,0.274744,-0.093534,0.711868,...,-0.000771,0.047711,0.337293,1.000000,-0.000831,0.774845,-0.436111,0.543701,0.462143,-0.069511
reno,0.115229,0.016358,0.043660,0.045656,0.004951,0.003373,0.071068,0.088883,-0.055425,0.013207,...,0.999968,0.027770,-0.064483,-0.000831,1.000000,0.035221,-0.050248,0.048477,-0.009704,-0.047419
sqft_living_times_grade,0.743376,0.509445,0.735229,0.973659,0.175544,0.378370,0.090259,0.287935,-0.087327,0.851078,...,0.035479,0.068468,0.238103,0.774845,0.035221,1.000000,-0.493140,0.751079,0.377423,-0.099335
condition_div_grade,-0.314446,-0.183878,-0.452308,-0.437714,-0.056806,-0.442225,-0.020724,-0.089467,0.828027,-0.645247,...,-0.050763,-0.079523,-0.172891,-0.436111,-0.050248,-0.493140,1.000000,-0.424346,-0.249716,0.070542
bathrooms_sq,0.548383,0.489630,0.964875,0.749997,0.099947,0.463843,0.055841,0.195096,-0.127368,0.636684,...,0.048877,0.034899,0.193774,0.543701,0.048477,0.751079,-0.424346,1.000000,0.271521,-0.059765
median_by_zip,0.395456,0.148640,0.294126,0.356461,0.095555,0.180131,-0.000625,0.012333,-0.057791,0.399007,...,-0.009651,0.298407,0.539740,0.462143,-0.009704,0.377423,-0.249716,0.271521,1.000000,-0.280270
Closest_WF,-0.416310,-0.013723,-0.042101,-0.073203,0.159458,-0.061167,0.004346,-0.040406,-0.024334,-0.151458,...,-0.047590,-0.859070,0.274755,-0.069511,-0.047419,-0.099335,0.070542,-0.059765,-0.280270,1.000000

In [30]:
dfdrop = dfdrop.drop('price', axis = 1)

In [43]:
ppsqft = mergedDf[['price']]/ mergedDf[['sqft_living']]

In [44]:
ppsqft

       price  sqft_living
0        NaN          NaN
1        NaN          NaN
2        NaN          NaN
3        NaN          NaN
4        NaN          NaN
...      ...          ...
21592    NaN          NaN
21593    NaN          NaN
21594    NaN          NaN
21595    NaN          NaN
21596    NaN          NaN

[21577 rows x 2 columns]

In [45]:
X = ppsqft #want 2 dimensions of feature
y = mergedDf['price']
#defining training and test data with 72/25 split and random state of 42
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=11117)

In [46]:
# Replace missing values with the mean using simple imputer
imputer = SimpleImputer()
# Fit imputer to the indepedent variable using only the training data -- fit LEARNS the data so in this case it is 
#finding the mean
imputer.fit(X_train)
# Replace missing values in the training and test data with mean -- transform takes what fit learned and transforms
#the data with that information -- in this case replacing null values with the mean.
X_train = imputer.transform(X_train)
X_test = imputer.transform(X_test)

In [47]:
#Fit a LinearRegression model
baselinelinreg = LinearRegression()
baselinelinreg.fit(X_train, y_train)
#Check and interpret the intercept and coefficient
print(baselinelinreg.intercept_)
print(baselinelinreg.coef_)

ValueError: Found array with 0 feature(s) (shape=(16182, 0)) while a minimum of 1 is required.

In [36]:
#Make predictions on both the training and testing data
train_preds = baselinelinreg.predict(X_train)
test_preds = baselinelinreg.predict(X_test)

In [37]:
#find root(here by raising to .5 power) mean squared error o training and test predictions
train_score = (mean_squared_error(y_train, train_preds))**.5
test_score = (mean_squared_error(y_test, test_preds))**.5
print('Basline Train score:', train_score)
print('Baseline Test score:', test_score)

Basline Train score: 167802.77161821973
Baseline Test score: 171538.17673662363

In [ ]:
plt.bar(['Train', 'Test'], [train_score, test_score])
plt.ylabel('Error')
plt.title('BaselineLinReg Performance Bar');

In [ ]:
plt.figure(figsize=(8, 5))
plt.scatter(y_train, train_preds, label='Actual Data')
plt.plot(y_train, y_train, label='Model')
plt.title('BaselineLinReg Performance Plot')
plt.legend();

In [ ]:
mediandf

In [ ]:
mergedDf

In [ ]:
mergedDf.view.value_counts()