In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error 
%matplotlib inline


from scipy.stats import norm
from scipy import stats

In [5]:
path = '../Warren/cleaned_df'
df = pd.read_csv(path, index_col=0)
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,reno,price_per_sqft,year,day,month,season,sqft_living_times_grade,condition_div_grade,sqft_living_sq,bathrooms_sq
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,3,...,0,188.050847,2014.0,13.0,10.0,fall,8260,0.428571,1392400,1.0000
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,...,1,209.338521,2014.0,9.0,12.0,winter,17990,0.428571,6604900,5.0625
2,5631500400,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,...,0,233.766234,2015.0,25.0,2.0,winter,4620,0.500000,592900,1.0000
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,...,0,308.163265,2014.0,9.0,12.0,winter,13720,0.714286,3841600,9.0000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,...,0,303.571429,2015.0,18.0,2.0,winter,13440,0.375000,2822400,4.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,3,...,0,235.294118,2014.0,21.0,5.0,spring,12240,0.375000,2340900,6.2500
21593,6600060120,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,3,...,0,173.160173,2015.0,23.0,2.0,winter,18480,0.375000,5336100,6.2500
21594,1523300141,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,3,...,0,394.216667,2014.0,23.0,6.0,summer,7140,0.428571,1040400,0.5625
21595,291310100,400000.0,3,2.50,1600,2388,2.0,0.0,0.0,3,...,0,250.000000,2015.0,16.0,1.0,winter,12800,0.375000,2560000,6.2500
21596,1523300157,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,3,...,0,318.627451,2014.0,15.0,10.0,fall,7140,0.428571,1040400,0.5625

In [6]:
df.drop('id', axis=1, inplace=True)

In [7]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,reno,price_per_sqft,year,day,month,season,sqft_living_times_grade,condition_div_grade,sqft_living_sq,bathrooms_sq
0,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,3,7,...,0,188.050847,2014.0,13.0,10.0,fall,8260,0.428571,1392400,1.0000
1,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,...,1,209.338521,2014.0,9.0,12.0,winter,17990,0.428571,6604900,5.0625
2,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,...,0,233.766234,2015.0,25.0,2.0,winter,4620,0.500000,592900,1.0000
3,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,...,0,308.163265,2014.0,9.0,12.0,winter,13720,0.714286,3841600,9.0000
4,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,...,0,303.571429,2015.0,18.0,2.0,winter,13440,0.375000,2822400,4.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,3,8,...,0,235.294118,2014.0,21.0,5.0,spring,12240,0.375000,2340900,6.2500
21593,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,3,8,...,0,173.160173,2015.0,23.0,2.0,winter,18480,0.375000,5336100,6.2500
21594,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,3,7,...,0,394.216667,2014.0,23.0,6.0,summer,7140,0.428571,1040400,0.5625
21595,400000.0,3,2.50,1600,2388,2.0,0.0,0.0,3,8,...,0,250.000000,2015.0,16.0,1.0,winter,12800,0.375000,2560000,6.2500
21596,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,3,7,...,0,318.627451,2014.0,15.0,10.0,fall,7140,0.428571,1040400,0.5625

In [13]:
df1 = df.drop('price', axis =1)

In [16]:
categoricals = ['bedrooms','bathrooms','waterfront','floors','view','grade','condition','zipcode']
continuous = ['price','sqft_living_sq','sqft_lot','sqft_above','sqft_basement','yr_built','lat','long','sqft_living15','sqft_lot15','month','year','yr_renovated']

df_cont = df[continuous]

In [17]:
df_ohe = pd.get_dummies(df[categoricals])

preprocessed = pd.concat([df_cont, df_ohe],axis=1)



X = preprocessed.drop('price',axis=1)


imp_mean = SimpleImputer(missing_values = np.nan, strategy='mean')
imp_mean.fit_transform(X)



scale = StandardScaler()

X = scale.fit_transform(X)

X = pd.DataFrame(X)

y = preprocessed['price']


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 2,interaction_only=True)
X_train = poly.fit_transform(X_train,y_train)
X_test = poly.fit_transform(X_test,y_test)

In [23]:
#instantiate and fit 
mlr_split = LinearRegression()

#fit
mlr_split.fit(X_train, y_train)

# calculate predictions on training and test sets
y_hat_train = mlr_split.predict(X_train)
y_hat_test = mlr_split.predict(X_test)

#compare MSE for the predicted training and test values 
train_mse = mean_squared_error(y_train, y_hat_train)
test_mse = mean_squared_error(y_test, y_hat_test)
print('Train Mean Squarred Error:', train_mse)
print('Test Mean Squarred Error:', test_mse)

print('Train score:', mlr_split.score(X_train, y_train))
print('Test score:', mlr_split.score(X_test, y_test))

Train Mean Squarred Error: 23123790404.88203
Test Mean Squarred Error: 22916180486.287655
Train score: 0.8051098650805394
Test score: 0.7984374004498346